.category-button {
  margin-top:60px;
  background-color: #176cae;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.category-sidebar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 0;
  position: relative;
  top: 60px;
  left: 0;
 overflow: visible !important; /* Cho phép hiển thị đầy đủ các thành phần con */
  animation: slideDown 0.5s forwards; /* Animation hiển thị sidebar */
  z-index: 1; /* Thêm z-index để sidebar nằm trên các thành phần khác */
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  animation: fadeIn 1s ease-in; /* Animation mờ dần */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.category-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-item {
  padding: 10px 15px;
  margin: 0 10px 10px 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s, transform 0.3s ease-in-out; /* Thêm animation khi hover */
  animation: expand 0.5s ease-out;
  position: relative; /* Thêm vị trí tương đối */
  z-index: 1; /* Đặt z-index để item không che các subcategory */
}

@keyframes expand {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.category-item:hover {
  background-color: #d1e8e2;
  transform: scale(1.1);
  z-index: 2; /* Khi hover, item sẽ nổi lên trên */
}

.category-content {
  display: flex;
  align-items: center;
}

.category-image {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out; /* Animation cho hình ảnh */
}

.category-name {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.subcategory-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #d1e8e2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: 10px;
  max-height: 300px;
  z-index: 3; /* Đặt z-index cao hơn để hiển thị đè lên */
}

.category-item:hover .subcategory-list {
  opacity: 1;
  visibility: visible;
}

.subcategory-item {
  padding: 5px 0;
  font-size: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;
}

.subcategory-item:hover {
  color: rgb(255, 255, 255);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
