.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 16rem;
  background-color: white;
  color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%);
  opacity: 0; 
  z-index: 0; 
}

.sidebar.shifted {
  transform: translateX(0);
  opacity: 1; 
  z-index: 10;
}

.content-open {
  margin-left: 16rem;
  transition: margin-left 0.3s ease-in-out;
}

.content-closed {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(0, 27, 181);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.button {
  font-size: 1.5rem;
  color: #6b7280; 
  transition: color 0.3s ease; 
}

.button:hover {
  color: #374151;
}

.button.md:hidden {
  display: none;
}

.sidebar-list {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
}

.sidebar-item, .sidebar-list-item {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item:hover, .sidebar-list-item:hover {
  background-color: #f0f0f0;
}

.sidebar-item > a, .sidebar-list-item > a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar-item > a:hover, .sidebar-list-item > a:hover {
  color: #2962ff;
  text-decoration: none;
}

.icon {
  margin-right: 0.75rem;
  font-size: 1.25rem;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}